#         OS

.DS_Store
.DS_Store?
ehthumbs.db
Thumbs.db
Icon?
.DS_Store
._*
.Spotlight-V100
.Trashes

#         GIT

*.orig

#         IDE

.settings/*
.project
user.properties
.idea?
.actionScriptProperties
.flexProperties

#        FLASH

bin-debug/*
bin-release/*
